<div class="foot p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-3">
        <h3 class="text-center text-white">Location</h3>
        <p class="text-center text-white">2215 John Daniel Drive</p>
        <p class="text-center text-white">Clark, MO 65243</p>
      </div>

      <div class="col-md-4 mt-3">
        <h3 class="text-center text-white">AROUND THE WEB</h3>
        <div class="iconss d-flex align-items-center justify-content-center">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-solid fa-globe"></i>
        </div>
      </div>

      <div class="col-md-4 mt-3">
        <h3 class="text-center text-white">ABOUT FREELANCER</h3>
        <p class="text-center text-white">
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</div>

<div class="copyR d-flex justify-content-center align-items-center">
  <small class="text-white">Copyright © Your Website 2021</small>
</div>
