.about {
  background-color: #1abc9c;
  height: 450px;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.icon {
  position: relative;
}
.icon::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: white;
  top: 120%;
  right: 38%;
  margin-bottom: 10px;
}

.icon::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: white;
  top: 120%;
  left: 38%;
  margin-bottom: 10px;
}
