<div class="container">
  <div class="row p-5 m-5">
    <h1 class="text-center pt-5">CONTACT SECTION</h1>
    <div class="mb-4 icon d-flex justify-content-center align-items-center">
      <i class="fa-lg fa-solid fa-star"></i>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name"
      />
      <label for="floatingInput">UserName</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="floatingInput"
        placeholder="Age"
      />
      <label for="floatingInput">Age</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
  </div>
</div>
